paramiko
peewee
psutil
sample_sheet
scp
termcolor
multiqc
argcomplete

# IdentitiesOnly yes
# StrictHostKeyChecking yes

# download and unpack multiqc in /opt/FastQC
# ln -s /opt/FastQC/fastqc /usr/local/bin
